{% extends "base.html" %}

{% block main %}
<h1 class="page-header">About</h1>
<div class="card">
  <div class="card-body">

  	<div class="top">
  		<div class="pro_photo">
  			 <img class="card-img-top" src="{{url_for('static', filename='photo.jpg')}}" alt="Profile Picture">
  		</div>
    <h1 class="card-title">Shemara Nation</h1>
    <h4 class="username">@shemaraN </h4>
    <h3>Spanish Town, St. Catherine </h3>
    <h3>Joined {{ date_joined }}</h3>
    </div>

    </div>
    <div class="bottom" >
    	<p>I am a final year student at the University of the West Indies. I am majoring in Information Technology 
    	and I am currently doing Web Development 2.
    	Would you like to practice with me? 
    	Please contact me if interested.</p>
	  <div class="row">
 
	    <div class="col-sm">
	      <h3>19</h3>
	      <h3>Posts</h3>

	    </div>

	    <div class="col-sm">
	      <h3>500</h3>
	      <h3>Following</h3>
	    </div>

	    <div class="col-sm">
	      <h3>1009</h3>
	      <h3>Followers</h3>
	    </div>

	    <div>
	    	<a href="#" class="btn btn-primary"> Follow</a>
	    </div>

    </div>
</div>

{% endblock %}
