{% extends "base.html" %}

{% block main %}
<h2 class="header"> List of Profiles</h2>

{% for users in users %}
    <div class="row photo">
            <img class="card-img-top" src="{{url_for('static', filename='uploads/'+ users.photo) }}" alt="Profile picture">
        </div>
        
        <p>
       <h3> {{users.first_name}} {{users.last_name}} </h3>    
       <h5> {{users.gender}} </h5>   
       <h5> {{users.location}} </h5>    
            <a href="{{ url_for('userid', userid=users.id )}} ">View Profile</a>
       </p>

{% endfor %}

{% endblock %}