<form>
<h2>Add Profile </h2>
<div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="firstname" placeholder="Enter first name">
</div>
<div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" class="form-control" id="lastname" placeholder="Enter last name">
</div>
<div class="form-group">
    <label for="gender">Gender</label>
    <select class="form-control" id="gender" >
      <option>..</option>
      <option>FEMALE</option>
      <option>MALE</option>
    </select>
  </div>
<div class="form-group">
    <label for="exampleInputEmail1">Email Address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="e.g. jdoe@example.com">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>
<div class="form-group">
    <label for="lastname">Location</label>
    <input type="text" class="form-control" id="lastname" placeholder="e.g. Kingston, Jamaica">
</div>
<div class="form-group">
    <label for="textarea">Biography</label>
    <textarea class="form-control" id="textarea" rows="3" placeholder="Enter text here..."></textarea>
</div>
<div class="form-group">
  <label for="browse">Profile Photo</label>
  <br>
  <button type="submit" class="btn btn-primary">Browse..</button>
</div>
<br>
<div>
  <button type="submit" class="btn btn-primary">Add Profile </button>
</div>  
  
</form>